.nano-time {
    display: flex;
    height: 100%;
    overflow-y: auto;
    font-size: 19px;
    text-align: center;
    font-family: Montserrat;
}
.nano-time.hidden {
    display: none;
}
.yes-icon {
    background-image: url("./assets/V.png");
    background-position-x: right;
}
.page-4,
.page-3,
.page-2 {
    background-color: #fff;
    color: #000;
}
.page-3,
.page-1 {
    flex-direction: row;
}
.logo-area {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 67px;
    margin-top: 20px;
}
.logo-image {
    background-image: url(./assets/logo.png);
    height: 73px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100px;
}
.interaction-title {
    font-size: 25px;
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
}
.blue {
    color: #3a7fc2;
}
.question {
    font-weight: 800;
    font-size: 23px;
    margin-bottom: 70px;
}
.question-title {
    color: #435463;
    text-align: center;
    margin: 20px 0 10px 0;
    font-weight: normal;
}
.center-content {
    display: flex;
    flex-direction: column;
}
.page-3 .content,
.page-1 .content {
    text-align: center;
}
.answer-area {
    text-align: center;
}
.page-3 .answer-area,
.page-1 .answer-area {
    width: 87px;
    height: 100%;
}
.page-3 .no-icon,
.page-1 .no-icon {
    background-image: url(./assets/X.png);
}
.icon {
    align-self: center;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.page-4,
.page-3,
.page-2 {
    flex-direction: column;
}
.interaction-image-container {
    height: 177px;
}
.interaction-image {
    background-image: url("./assets/scooter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: bottom;
}
.interaction-text {
    padding: 0 40px 40px 40px;
    text-align: center;
}
.page-3 .interaction-approve,
.page-2 .interaction-approve {
    background-color: #3a7fc2;
    border-radius: 50%;
    height: 70px;
    width: 100%;
    flex-grow: 0;
}
.page-3 .interaction-approve {
    align-self: flex-end;
    margin-top: auto;
}
.answer {
    padding: 20px 0;
}
.answer.selected {
    background-color: #bbbfc2;
}
.interaction-answer-area {
    text-align: center;
}
ol {
    text-align: start;
}
li {
    margin-bottom: 20px;
    list-style-type: decimal;
}
.accept-bottom {
    width: 100%;
    height: 120px;
    align-self: flex-end;
}
.accept-icon {
    background-image: url("./assets/V2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: bottom;
}
.interaction-answer-area {
    margin-bottom: 20px;
}
.thats-right {
    font-size: 30px;
    font-weight: bold;
}
.learn-more-container {
    width: 100%;
    height: 137px;
    align-self: flex-end;
}
.learn-more-icon {
    background-image: url("./assets/LearnMore.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: bottom;
}
/*font face**/

@font-face {
    font-family: Montserrat;
    src: url("./font/Montserrat-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url("./font/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: Montserrat;
    src: url("./font/Montserrat-Bold.ttf");
    font-weight: 700;
}